@charset "UTF-8";

* {
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/* タイトル */
.headline {
    font-size: 26px;
    margin: 20px;
    font-weight: bold;
    text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px, #fff -2px -1px, rgba(0, 0, 0, .5) 3px 3px 3px;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #444;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}


.header_nav {
    display: flex;
    height: 80px;
    margin: 10px 40px;
    align-items: center;
}

.logo {
    width: 90px;
    /* margin-top: -12px; */
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 36px;
    align-items: center;
    /* height: 200px; */
}

.main-nav li {
    margin-left: 36px;
}

.main-nav li:hover {
    margin-left: 36px;
}

.main-nav a {
    color: rgb(15, 74, 235);
}

.main-nav a:hover {
    color: rgb(12, 12, 209);
    text-decoration: underline;
    background-color: #4390bd;
    color: #fff;
}



/* ボタン */
.btn_flex {
    display: flex;
}

.btn {
    color: #fff;
    margin: 0 10px 10px;
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
    background: #298b5f;
}

.btn_red {
    background: #bd1c1c;
}

.btn:hover {
    text-decoration: underline;
}

.inline {
    display: inline;
}

.width {
    width: 60%;
    font-size: 13px;
    padding: 8px;
}


/* エラーメッセージ */
.error {
    color: red;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.error p {
    margin-bottom: 10px;
}

/* フラッシュメッセージ */
.flash {
    font-size: 20px;
    padding: 20px;
    background: skyblue;
    margin: 0 0 10px 0;
}

/*--------------- index.blade.php ---------------*/

/* 一覧タグクリック */
.tag_color {
    color: rgb(27, 57, 141);
}

.tag_font {
    font-size: bold;
}

.text-blue-500 {
    opacity: 0.5;
}

.tag_hover:hover {
    box-shadow: 0 0 5px #50A7FF, 0 0 25px #50A7FF, 0 0 50px #50A7FF, 0 0 100px #50A7FF;

}

.gallery {
    display: flex;
    /* background:rgb(12, 12, 209); */
    justify-content: space-between;
}

.gallery_list {
    padding: 10px 0;
    width: 8%;
}

.gallery_list+.gallery_list {
    border-top: 1px solid #ccc;
}

.list_nav_sidebar a {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 0 0 20px;
    position: relative;
}



/* .list_nav_sidebar a::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: gray;
    position: absolute;
    top: 50%;
    left: 30px;
    border-radius: 50%;
    transform: translate(0, -50%);
} */

.gallery .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.5rem;
    margin: 10px;
    width: 90%;
}

.gallery .gallery-container .box {
    position: relative;
    border: 5px solid rgb(249, 249, 249);
    border-radius: .5rem;
    /* height: 25rem; */
    cursor: pointer;
    overflow: hidden;
}

.gallery .gallery-container .box img {
    height: 260px;
    width: 500px;
    /* height: 100%;
    width: 100%; */
    object-fit: cover;
}

.gallery .gallery-container .box:hover img {
    transform: scale(1.1);
    filter: grayscale();
    object-fit: cover;
}

.gallery .gallery-container .box .title {
    position: absolute;
    top: -30rem;
    left: 0;
    right: 0;
    padding-top: 14px;
    background: #333;
    color: #fff;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1rem;
    transition: all 0.3s;
}

.gallery .gallery-container .box:hover .title {
    top: 0;

}

.gallery .gallery-container .box .icons {
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    background: #333;
    padding-top: 1rem;
    text-align: center;
}

.gallery .gallery-container .box:hover .icons {
    bottom: 0;
    transition: all 0.3s;
}

.gallery .gallery-container .box .icons a {
    font-size: 2rem;
    margin: .5rem 1rem;
    color: #fff;
}

.gallery .gallery-container .box .icons a:hover {
    color: var(--main-color);
}



/*--------------- show.blade.php ---------------*/

h1 {
    font-size: 40px;
    margin-top: 20px;
    color: #e74c3c;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 100%;
    width: 90%;
    margin: 20px;
    padding: 12px;
    box-shadow: 0 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #222;
}

.card .bg-image img {
    width: 100%;
    border-radius: 10px;
    /* height: 100%; */
    object-fit: cover;
    /* clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%); */
}

.card .info {
    height: 20%;
}

.card .info h3 {
    color: #f0f0f0;
    font-size: 24px;
    padding: 30px 0;
}

.card .info span {
    font-size: 15px;
    color: #e74c3c;
}

.card .info p {
    font-size: 20px;
    padding: 10px 20px;
    color: #999;
}

.card .info .icons a {
    font-size: 20px;
    color: #817776;
    margin-top: 20px;
    padding: 0 5px 20px
}

.card .info .icons a:hover {
    color: #f0f0f0;
}

.card .btn_flex {
    display: flex;
    justify-content: center;
}

/* 戻るボタン */
.btn.btn_blue {
    background: #286bc9;
    display: inline-block;
    width: 140px;
    font-size: 26px;
    margin: 20px 40px 60px;
    text-align: center;
}

/*--------------- edit.blade.php ---------------*/

/*フォーム*/
.wrapper {
    text-align: center;
}

.formBackground {
    padding: 40px 0;
    background: linear-gradient(#8ebebe, #938f90);
    background-blend-mode: luminosity;
}

.form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    cursor: pointer;
    border: none;
    background: #3879D9;
    color: #fff;
    outline: none;
    /* height: 2.2em; */
    padding: 10px 14px;
    border-radius: 6px;
}

form div {
    margin-bottom: 22px;
}

label {
    font-size: 22px;
    margin-bottom: 16px;
    display: block;
    color: #fff;
    text-shadow:
        1px 3px #000, 1px -3px #000,
        -1px 3px #000, -1px -3px #000,
        2px 2px #000, 2px -2px #000,
        -2px 2px #000, -2px -2px #000,
        3px 1px #000, 3px -1px #000,
        -3px 1px #000, -3px -1px #000;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="file"],
textarea {
    background: rgba(255, 255, 255, .5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 6px;
    width: 90%;
    border: 1px solid #000;
}

input[type="search"] {
    background: rgba(144, 173, 211, 0.5);
    border-radius: 4px;
    padding: 4px;
    width: 60%;
    border: 1px solid rgb(148, 164, 129);
    font-size: 13px;
}

input[type="search"]::placeholder {
    color: rgb(27, 24, 20);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="file"]:focus,
input[type="search"]:focus,
textarea:focus {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.submit {
    background: #5250e0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    cursor: pointer;
    margin: 10px 0;
    padding: 8px;
    transition: all 0.3S;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.submit:hover {
    opacity: 0.9;
    transform: scale(1.08);
    box-shadow: 0 0 rgba(0, 0, 0, .3);
    color: rgb(9, 21, 35);
}


.edit_image {
    width: 70%;
    margin: 0 auto 20px;
}

/*--------------- show.blade.php ---------------*/



/*--------------- list.blade.php ---------------*/

.hover-link {
    color: #286bc9;
    border-bottom: 1px solid #298b5f;
}

.table {
    /* table-layout: fixed; */
    margin-bottom: 20px;
    border: 2px solid black;
    /* margin: 10px 30px 20px; */
}

.table thead tr {}

.table thead th {
    background: rgb(121, 155, 240);
    font-size: 20px;
    font-weight: bold;
    color: rgb(15, 11, 11);
    text-align: center;
    padding: 13px 0;
    width: 6%;
}

.table tbody td {
    font-size: 18px;
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid rgb(21, 89, 191);
    vertical-align: middle;
}

.table tbody {
    background: #a2c2e8;
}

.table tbody:nth-child(even) {
    background: #dae1e4;
}

.table_img {
    height: 160px;
    width: 320px;

    object-fit: cover;
    margin: 0 auto;
}

/*--------------- contact.blade.php ---------------*/

.contact_container {

    background: #222;
    margin: 0 auto;
    padding: 20px;
}

.container {
    position: relative;
    z-index: 1000;
    max-width: 90%;
    padding: 50px;
    background: rgba(39, 43, 28, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blue(25px);
    margin: 0 auto;
}


.container h2 {
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}

.container .row100 .col .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}

.container .row100 .col .inputBox input,
.container .row100 .col .inputBox textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.container .row100 .col .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container .row100 .col .inputBox input:focus+.text,
.container .row100 .col .inputBox input:valid+.text,
.container .row100 .col .inputBox textarea:focus+.text,
.container .row100 .col .inputBox textarea:valid+.text {
    top: -35px;
    left: -10px;
}

.container .row100 .col .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container .row100 .col .inputBox input:focus~.line,
.container .row100 .col .inputBox input:valid~.line {
    height: 100%;
}

.container .row100 .col .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.container .row100 .col .inputBox textarea:focus~.line,
.container .row100 .col .inputBox textarea:valid~.line {
    height: 100%;
}

.container .row100 .col input[type="submit"] {
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    font-weight: 600;
    color: #000;
    font-size: 18px;
    border-radius: 2px;
}

/*--------------- tag.blade.php ---------------*/

.tags_table {
    width: 60%;
    margin: 0 auto;
}

/*--------------- レスポンシブデザイン ---------------*/

@media screen and (max-width: 768px) {

    .headline {
        font-size: 18px;
        text-align: center;
    }

    .logo {
        margin-top: 300px;
        margin: 0 auto;
        /* margin-bottom: 130px; */
    }

    .tag_color {
        font-size: 10px;
    }


    .header_nav {
        display: block;
    }

    .list_nav_sidebar a {
        font-size: 1px;
        margin-bottom: 40px;
    }

    .form_header {
    display: block;
    }

    .table {
        width: 7px
    }

    .tags_table {
        width: 90%;
    }

    .main-nav {
        font-size: 14px;
        /* padding-bottom: 40px; */
    }

    .gallery {
        display: block;
    }

    input[type="search"] {
        width: 16%;
        border: 1px solid rgb(148, 164, 129);
        font-size: 13px;
    }

    .gallery .gallery-container {
        width: 96%;
        margin: 0 auto;
    }

    .gallery_list {
        display: inline;
    }

    section::before {
        transform: translate(-200px, -180px);
    }

    section::after {
        transform: translate(220px, 180px);
    }

    .container {
        padding: 20px;
    }

    .container h2 {
        font-size: 28px;
    }
}
